@import '../general/vars.scss';

#account-container {
  
  #main-header {
    background-image: url("../../images/backgrounds/account-background.jpg");
    #tagline-container {
      background-color: rgba(255, 255, 255, 0.9);
      #tagline {
        color: $dark-blue;
      }
    }
  }
}

@media screen and (min-width: $tabl-brkpnt) {
  /* TABLETTE */
  #account-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "title title"
      "account request";
  
    h1
    {
      grid-area: title;
    }
    
    #main-header {
      grid-area: header;
    }
  
    #edit-account {
      grid-area: account;
    }
  
    #view-requests {
      grid-area: request;
      text-align: center;
    }
  }
}
