@import '../general/vars.scss';

#dashboard-container {
  #main-header {
    background-image: url("../../images/backgrounds/dashboard-background.jpg");
    #tagline-container {
      background-color: rgba(255, 255, 255, 0.9);
      #tagline {
        color: $dark-blue;
      }
    }
  }
  #search-section {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 5vh 5vh;
    
    fieldset:first-child {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 0 5px 0 5px;
      border-color: $dark-blue;
      width: 95%;
      input {
        width: 75%;
      }
    }
    fieldset:last-child {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 0 5px 0 5px;
      border-color: $dark-blue;
      width: 95%;
      input {
        width: 75%;
      }
    }
  }
  #control-section {
    overflow-x: auto;
    width: 100%;

    table {
      margin: 0 auto;
      border-radius: 0 16px 0 16px;
      border: solid 2px $dark-blue;

      padding: 1rem;
      tr:nth-child(even) {
        background-color: $light-blue;
      }

      td {
        // max-width: 3rem;
        padding-left: 0.5rem;
        border-bottom: solid 1px black;
      }
      tr,
      td,
      th {
        height: 1.25rem;
        overflow: hidden;
        white-space: nowrap;
      }
      .col-id {
        min-width: 0; // max-width: 2.5rem;
      }
    }
  }
}

@media screen and (min-width: $tabl-brkpnt) {
  /* TABLETTE */
    #search-section 
    {
      display: flex !important;
      justify-content: space-evenly;
      
      fieldset:first-child {
        width: 25% !important;
      }
      fieldset:last-child {
        width: 60% !important;
      }
    }
    
}
