@import '../general/vars.scss';

.dashboard-container
{
  #main-header
  {
    background-image: url("../../images/backgrounds/dashboard-background.jpg");
    #tagline-container
    {
      background-color: rgba(255,255,255,0.9);
      #tagline
      {
        color: $dark-blue;
      }
    }

  }
  #search-section
  {
    display: flex;

    fieldset:first-child
    {
      margin: 0 auto;
      border-radius: 0 5px 0 5px;
      border-color: $dark-blue;
      width: 30%;
    }
    fieldset:last-child
    {
      margin: 0 auto;
      border-radius: 0 5px 0 5px;
      border-color: $dark-blue;
      width: 70%;
    }
  }
  #control-section
  {
    table
    {
      margin: 0 auto;
      border-radius: 0 16px 0 16px;
      border: solid 2px $dark-blue;
      padding: 1rem;
      td
      {
        padding-left: 0.5rem;
        border-bottom: solid 1px black;
      }
      tr, td, th
      {
        height: 1.25rem;
        overflow:hidden;
        white-space: nowrap;
      }
      td, th
      {
        display: none;
      }
      td:first-child, th:first-child, td:nth-child(2), th:nth-child(2), td:nth-child(3), th:nth-child(3) 
      {
        display:table-cell;
      }
  
      .col-id
      {
        min-width: 0;
        max-width: 2.5rem;
      }
      .col-other
      {
        min-width: 0;
        max-width: 6rem;
      }
  
  
      .edit-btn
      {
        height: 1.25rem;
        width: 3rem;
        margin-left: 0.75rem;
        background-color: blue;
        color: white;
      }
      .remove-btn
      {
        height: 1.25rem;
        width: 3rem;
        margin-left: 0.75rem;
        background-color: red;
        color: white;
      }
  
      .edit-btn:hover
      {
        background-color: rgb(56, 56, 107);
        cursor: pointer;
      }
      .remove-btn:hover
      {
        background-color: rgb(131, 67, 67);
        cursor: pointer;
      }
    }
  }
}