@import '../general/vars.scss';

.homepage-container
{
  #main-header
  {
    background-image: url("../../images/backgrounds/homepage-background.jpg");
    #tagline-container
    {
      background-color: rgba(47,85,151,0.9);
      #tagline
      {
        color: white;
      }
    }
  }
  #templates-section, #reviews-section
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}