@import '../general/vars.scss';

.shop-container
{
  #heading-section
  {
    background-image: url("../../images/backgrounds/shop-background.jpg");
    #tagline-container
    {
      background-color: rgba(47,85,151,0.9);
      #tagline
      {
        color: white;
      }
    }
  }
  #templates-section
  {
    .cards
    {
      margin: 0 auto;
      padding: 0.5rem;
      border-radius: 0 20px 0 20px;
      border: solid $dark-blue;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      p
      {
        text-align: center;
      }
    }
  }
}