$text-light: #050505;
$background-light: linear-gradient(90deg , white, #fafafa);
$primary-light: #343357;
$secondary-light: #ecdfec;
$accent-light: #5f5fa0;

$text-dark: #fafafa;
$background-dark: linear-gradient(90deg, black, #050505);
$primary-dark: #343357;
$secondary-dark: #201320;
$accent-dark: #9f9fc6;

.advert{
    color: red;
}
.lightmode{
    background: $background-light;
    color: $text-light;
}
.darkmode{
    background: $background-dark;
    color: $text-dark;
}

html
{
    scroll-behavior: smooth;
    
    body
    {
        header
        {
            display: flex;
            #logo-kc
            {
                img
                {

                }
            }
            nav
            {
                width: 60%;
                margin: auto 20px;
                ul
                {
                    width: auto;
                    display: flex;
                    justify-content: space-evenly;
                    list-style-type: none;

                    li
                    {
                        a 
                        {
                            text-decoration: none;
                            color: $text-light;   
                        }
                    }
                }
            }
        }
        main
        {
            aside
            {

            }
            section
            {
                h2
                {

                }
                form
                {
                    label
                    {

                    }
                    input
                    {

                    }
                    input[type="submit"]
                    {
                        width: 120px;
                        height: 30px;
                        border-radius: 10px;
                        border:none;
                        border-bottom: solid 1px;
                        background-color: $secondary-light;
                        color: $primary-light;
                    }
                    input[type="submit"]:hover
                    {
                        font-size: 0.90rem;
                        outline: solid 1px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}