$text-color: rgb(47,85,151);
$soft-color: rgb(143,170,220);
$alt-color: rgb(189, 90, 23);
$font-kanit: 'Kanit', sans-serif;

html
{
  body
  {
    font-family: $font-kanit;
    margin: 0;
    padding: 0;
    header
    {
      min-height: 50px;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(to left, $text-color, $text-color, $soft-color);
      .logo
      {
        width: 80%;
        max-width: 300px;
        display: flex;
        align-items: center;
        img
        {
          width: 100%;
          height: auto;
        }
      }
      .burger-container
      {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .navbar
      {
        position: absolute;
        height: auto;
        right: 0;
        text-align: center;
        #menu
        {
          display: none;
          margin: 0;
          padding: 0;
          list-style-type: none;
          width: 100%;
          background: linear-gradient(to bottom, $text-color, $soft-color);
          li
          {
            padding: 9px;
            
            a
            {
              color: white;
              font-size: 20px;
              text-decoration: none;
            }
            a:hover
            {
              color: $alt-color;
              text-decoration: underline;
              font-weight: bold;
            }
          }
        }
        #menu.active
        {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .container
    {
      width: 90%;
      margin: 0 auto;
      #heading-section
      {
        height: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../images/backgrounds/working-desk.jpg");
        background-position-y: -3rem;
        background-repeat: no-repeat;
        background-size: cover;
        #tagline-container
        {
          padding: 0.75rem;
          background-color: rgba(47,85,151,0.6);
          border-radius: 0 20px 0 20px;
          #tagline
          {
            margin: 0;
            font-size: 3.5vw;
            color: white;
          }
        }
      }
      #presentation
      {

      }
      #news
      {

      }
      #aside-access
      {
        width: 18px;
        height: 100px;
        position: fixed;
        display: flex;
        left: 0;
        top: 33vh;
        justify-content: center;
        align-items: center;
        background-color: $text-color;
        border-radius: 0 5px 5px 0;
      }
      #anchor-aside
      {

      }
    }



  }
}










.success{
    color: green;
    font-size: 1rem;
}

.error{
    outline: solid 2px red;
}

[id*="error"]{
    color: red;
    font-size: 1rem;
}

.hidden
{
    display: none;
}

.edit-btn
{
  height: 1.25rem;
  width: 3.5rem;
  margin-left: 0.75rem;
  background-color: blue;
  color: white;
}

.remove-btn
{
  height: 1.25rem;
  width: 5rem;
  margin-left: 0.75rem;
  background-color: red;
  color: white;
}

.edit-btn:hover
{
  background-color: rgb(56, 56, 107);
}

.remove-btn:hover
{
  background-color: rgb(131, 67, 67);
}

td
{
  padding-left: 0.5rem;
  border-bottom: solid 1px black;
}

tr, td, th
{
  min-width: 7rem;
  max-width: 10rem;
  height: 1.25rem;
  overflow:hidden;
  white-space: nowrap;
}

.col-id
{
  min-width: 0;
  max-width: 2.5rem;
}

.col-other
{
  min-width: 0;
  max-width: 6rem;
}

