//*----------------------
//* Import des variables
//*----------------------
@import '../general/vars';

//*---------------------------------------------
//* Boutons en général et inputs de type submit
//*---------------------------------------------
.btn {
  width: $submit-width;
  margin: $submit-margin;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px 0px $light-blue;
  background: linear-gradient(to bottom, $light-blue, white, $light-blue);
  border-radius: 0 5px 0 5px;
  border: solid 1px black;
  font-weight: bold;
  color: $dark-blue;
}

input[type*="submit"] {
  width: $submit-width;
  margin: $submit-margin;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px 0px $light-blue;
  background: linear-gradient(to bottom, $light-blue, white, $light-blue);
  border-radius: 0 5px 0 5px;
  border: solid 1px black;
  font-weight: bold;
  color: $dark-blue;
}

.btn:hover,
input[type*="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, $light-blue, white, $dark-blue);
}

.btn:active,
input[type*="submit"]:active {
  color: white;
  box-shadow: 6px 6px 6px 0px $light-blue;
  background: linear-gradient(to bottom, $dark-blue, $dark-blue, white);
}

//*----------------------------------
//* Bouton volant de demande de site
//*----------------------------------
#float-btn {
  width: 20%;
  position: fixed;
  right: 0;
  top: 60vh;
  box-shadow: 3px 3px 3px 0px $light-blue;
  background: linear-gradient(to bottom, $light-blue, white, $light-blue);
  border-radius: 0 5px 0 5px;
  border: solid 3px $dark-blue;
  font-weight: bold;
  color: $dark-blue;
  a {
    color: $dark-blue;
  }
}

#float-btn:hover,
a {
  cursor: pointer;
  text-decoration: underline;
}

//*--------------------------------------------
//* Boutons d'édition/suppression du dashboard
//*--------------------------------------------
.add-btn {
  margin-left: 0.5rem;
}

.view-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: green;
  color: white;
}

.edit-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: blue;
  color: white;
}

.remove-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: red;
  color: white;
}

.view-btn:hover {
  background-color: rgb(56, 107, 56);
  cursor: pointer;
}

.edit-btn:hover {
  background-color: rgb(56, 56, 107);
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(107, 56, 56);
  cursor: pointer;
}

@media screen and (min-width: $tabl-brkpnt) {
  /* TABLETTE */
  #float-btn {
    width: 10%;
  }
}

@media screen and (min-width: $desk-brkpnt) {
  /* DESKTOP */
  #float-btn {
    width: 6%;
  }
}
