//*----------------------
//* Import des variables
//*----------------------
@import '../general/vars';

.success
{
  width: 25%;
  position: fixed;
  margin: 0 calc(50vw - 25% / 1.5);
  text-align: center;
  padding: 0.25rem;
  font-size: 0.75rem;
  color: green;
  background-color: white;
  border: solid 3px green;
  z-index: 3;
}
.error
{
    outline: solid 2px red;
}
[id*="error"]
{
    padding: 0.25rem;
    position: absolute;
    margin-left: 10%;
    margin-right: 0;
    border-radius: 0 16px 0 16px;
    color: red;
    font-size: 0.75rem;
}

[id*="error"].content-write
{
  background: linear-gradient(to bottom, white, white, $light-blue);
}