//*----------------------
//* Import des variables
//*----------------------
@import '../general/vars';

.success
{
  padding: 0.5rem;
  font-size: 1rem;
  color: green;
  background-color: white;
  border: solid 1px green;
  
}
.error
{
    outline: solid 2px red;
}
[id*="error"]
{
    padding: 0.6rem;
    position: absolute;
    border-radius: 0 16px 0 16px;
    color: red;
    font-size: 0.75rem;
}

[id*="error"].content-write
{
  background: linear-gradient(to bottom, white, white, $light-blue);
}