//*----------------------
//* Import des variables
//*----------------------
@import '../general/vars';

#top-footer
{
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(to bottom, $light-blue 10%, $dark-blue);
  display: flex;
  justify-content: space-between;
  nav
  {
    width: 45%;
    ul
    {
      height: 160px;
      padding-left: 0;
      text-align: center;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      a
      {
        text-decoration: none;
        margin-top: 0.25rem;
        color: white;
        i
        {
          padding: 0.2rem;
          border-radius: 20px;
          background-color: white;
        }
        color: white;
      }
      a:hover
      {
        text-decoration: underline;
        color: $alt-color;
      }
      
      li
      {
        margin-top: 0.15rem;
        margin-left: 1vw;
      }
    }
  }
}

@media screen and (min-width: $tabl-brkpnt) {
  /* TABLETTE */
  #top-footer
  {
    nav
    {
      ul
      {
        height: 100px;
      }
    }
  }
}

@media screen and (min-width: $desk-brkpnt) {
  /* DESKTOP */
  #top-footer
  {
    nav
    {
      ul
      {
        height: 100px;
      }
    }
  }
}
