//*----------------------
//* Import des variables
//*----------------------
@import '../general/vars';

form
{
  margin: 0 auto;
  padding: 5px;
  width: 260px;
  background: linear-gradient(to bottom, $dark-blue, $dark-blue, $light-blue);
  border-radius: 0 16px 0 16px;
  p
  {
    color: white;
    font-weight: bold;
    margin-left: 16px;
  }
  fieldset
  {
    margin-top: 5px;
    border: none;
    label
    {
      color: white;
      
      margin: 16px 10px 0 16px;
    }
    input
    {
      width: 96%;
      margin-top: 8px;
      border-radius: 0 5px 0 5px;
      box-shadow: 3px 3px 3px 0px $light-blue;
    }
    input[type="checkbox"]
    {
      width: 96%;
      margin-top: 8px;
      border-radius: 0;
      box-shadow: none;
    }
    textarea
    {
      width: 96%;
      height: 300px;
      margin-top: 8px;
      border-radius: 0 5px 0 5px;
      box-shadow: 3px 3px 3px 0px $light-blue;
      border: solid 1px black;
    }
  }
  fieldset.checkbox-field
  {
    display: flex;
    justify-content: space-between;
    label
    {
      margin: auto;
      margin-left:0.26rem;
      font-size: 0.68rem;
    }
    input
    {
      width: auto;
      height: auto;
    }
    
  }
  fieldset.textarea
  {
    height: 200px;
    textarea
    {
      height: 80%;
    }
  }
}