//*----------------------
//* Import des variables
//*----------------------
@import '../general/vars';

form
{
  margin: 0 auto;
  padding: 0;
  width: 100%; // À modifier en desktop
  background: linear-gradient(to bottom, $dark-blue, $dark-blue, $light-blue);
  border-radius: 0 16px 0 16px;
  p
  {
    color: white;
    font-weight: bold;
    margin-left: 16px;
  }

  div.fieldset-separator
  {
    margin: 1rem;
    margin-left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  fieldset
  {
    width: 100%;
    margin-top: 5px;
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    legend
    {
      width: 100%;
      margin-top: 2rem;
      font-size: 1.5rem;
      color: white;
      text-decoration: underline;
    }

    label
    {
      width: auto;
      color: white;
      margin: 16px 10px 0 16px;
    }

    input
    {
      width: 95%;
      margin-top: 8px;
      border-radius: 0 5px 0 5px;
      box-shadow: 3px 3px 3px 0px $light-blue;
    }

    select
    {
      width: 75%;
      height: 1rem;
      margin: auto auto 0.15rem 1rem;
    }

    textarea
    {
      width: 96%;
      height: 300px;
      margin-top: 8px;
      border-radius: 0 5px 0 5px;
      box-shadow: 3px 3px 3px 0px $light-blue;
      border: solid 1px black;
    }

    span.input-description
    {
      width: 100%;
      font-size: 0.75rem;
      color: white;
    }

    span.input-description:last-child
    {
      margin-bottom: 2rem;
    }

    div.input-separator
    {
      margin: 1rem;
      width: 100%;
      height: 1px;
      background-color: cyan;
    }
  }
  fieldset.checkbox-field
  {
    display: flex;
    justify-content: space-between;
    label
    {
      width: 75%; //auto en desktop
      margin-right: 0;
      margin-left:0.26rem;
      font-size: 1rem;
    }
    input
    {
      width: auto;
      height: auto;
      margin: auto auto 0.25rem 1rem;
    }
    
  }
  fieldset.textarea
  {
    height: 200px;
    textarea
    {
      height: 80%;
    }
  }
}