html
{
  scroll-behavior: smooth;

  .hidden
  {
    display: none;
  }

  textarea {
    resize: none;
  }

  body
  {
    margin: 0;
    padding: 0;
    background-image: url("../../images/backgrounds/views-back.svg");
    background-color: rgba(255,255,255,1);
    background-size: cover;
    background-position: center;
    main
    {
      width: 96%;
      margin: 0 auto;

      .text-center
      {
        text-align: center;
      }

      #main-header
      {
        height: 33vw;
        display: flex;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        #tagline-container
        {
          margin-top: 10%;
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0 20px 0 20px;
          #tagline
          {
            margin: 0 2rem;
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}



