@import '../general/vars.scss';

html
{
  scroll-behavior: smooth;

  

  .hidden
  {
    display: none;
  }

  textarea {
    resize: none;
  }

  body
  {
    margin: 0;
    padding: 0;
    background-image: url("../../images/backgrounds/views-back.svg");
    background-color: rgba(255,255,255,1);
    background-size: cover;
    background-position: center;
    main
    {
      width: 96%;
      margin: 0 auto;

      .text-center
      {
        text-align: center;
      }

      #main-header
      {
        height: 126px;
        display: flex;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        #tagline-container
        {
          margin: auto;
          padding: 0.25rem;
          width: 92%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0 20px 0 20px;
          #tagline
          {
            margin: 0 2rem;
            font-size: 3.5vw;
          }
        }
      }
    }
  }
}


@media screen and (min-width: $tabl-brkpnt){ //TABLETTE
  html {
    body{
      main{
        #main-header
        {
          height: 250px;
          #tagline-container
          {
            width: 75%;
            height: 30%;
            #tagline
            {
              font-size: 2.75vw;
            }
          }
        }
      }
    }
  }
  
}

@media screen and (min-width: $desk-brkpnt){ /* DESKTOP */
  html {
    body{
      main{
        #main-header
        {
          height: 360px;
          #tagline-container
          {
            width: 75%;
            height: 30%;
            #tagline
            {
              font-size: 2.25vw;
            }
          }
        }
      }
    }
  }
  
}
