// Ici sont stocker les variables réutiliées dans les autres scripts CSS/SCSS

$dark-blue: rgb(47,85,151);
$light-blue: rgb(143,170,220);
$alt-color: rgb(255, 150, 81);
$submit-width: 164px;
$submit-margin: 0 calc(100% / 2 - $submit-width / 2);
$tabl-brkpnt: 768px;
$desk-brkpnt: 1020px;