@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import '../general/vars.scss';

html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    h1,h2,h3 
    {
        font-family: 'Kanit', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: $dark-blue;
    }
    #tagline 
    {
        font-family: 'Kanit', sans-serif;
        font-style: italic;
        font-weight: 200;
    }
    h1
    {
        text-align: center;
        font-size: 1.75rem;
    }
    h1::after
    {
        content: url("../../images/decorations/take-shape.svg");
        display:inline-block;
        opacity: 0.5;
        width: 90px;
        height: auto;
    }
    h2
    {
        font-size: 1.4rem;
        margin-left: 20px;
    }
    h3
    {
        margin: 0.5rem auto;
        font-size: 1.3rem;
    }
    h4  
    {
        font-size: 1.15rem;
    }
    #tagline //* ajouter un mediaquery pour le DESKTOP
    {
        font-weight: bold;
        letter-spacing: 3px;
    }
    .card-title
    {
        font-size: 1rem;
        text-overflow:ellipsis;
    }

}

