@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import '../general/vars.scss';

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    h1,h2,h3 
    {
        font-family: 'Kanit', sans-serif;
        font-style: normal;
        font-weight: 400;
        color: $dark-blue;
    }
    #tagline 
    {
        font-family: 'Kanit', sans-serif;
        font-style: italic;
        font-weight: 200;
    }
    h1
    {
        text-align: center;
        font-size: 1.5rem;
    }
    h1::after
    {
        content: url("../../images/decorations/take-shape.svg");
        display:inline-block;
        opacity: 0.5;
        width: 3rem;
        height: auto;
    }
    h2
    {
        font-size: 1.25rem;
        margin-left: 20px;
    }
    h3
    {
        margin: 0.5rem auto;
        font-size: 1.3rem;
    }
    h4  
    {
        font-size: 1.15rem;
    }
    #tagline //* ajouter un mediaquery pour le DESKTOP
    {
        font-weight: bold;
        letter-spacing: 3px;
    }
    .card-title
    {
        font-size: 1rem;
        text-overflow:ellipsis;
    }

}

@media screen and (min-width: $tabl-brkpnt){ //TABLETTE
    html {
        font-size: 20px;
        background-color: #ccc;
        h1
        {
            font-size: 2rem;
        }
        h2
        {
            font-size: 1.4rem;
        }
        h1::after
        {
            width: 4.25rem;
        }
    }
  }

  @media screen and (min-width: $desk-brkpnt){ /* DESKTOP */
    html {
        font-size: 24px;
        background-color: #ccc;
        h1::after
        {
            width: 5rem;
        }
    }
  }