@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  min-height: 50px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, rgb(47, 85, 151), rgb(47, 85, 151), rgb(143, 170, 220));
}
header .logo {
  width: 80%;
  max-width: 300px;
  display: flex;
  align-items: center;
}
header .logo img {
  width: 100%;
  height: auto;
}
header .burger-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar {
  position: absolute;
  height: auto;
  right: 0;
  text-align: center;
  z-index: 1;
}
header .navbar #menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(143, 170, 220));
  border-radius: 0 0 20px 20px;
}
header .navbar #menu li {
  padding: 9px;
}
header .navbar #menu li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
header .navbar #menu li a:hover {
  color: rgb(255, 150, 81);
  text-decoration: underline;
  font-weight: bold;
}
header .navbar #menu.active {
  display: flex;
  flex-direction: column;
}

#left-aside-access {
  width: 18px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgb(47, 85, 151) 5%, rgb(143, 170, 220));
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#left-aside-access:hover {
  cursor: pointer;
}

#left-aside-access.hidden {
  display: none;
}

#left-aside {
  display: none;
  width: auto;
  height: auto;
  position: fixed;
  left: 0;
  top: 20vh;
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(143, 170, 220));
  border-radius: 0 0 5px 0;
}
#left-aside ul {
  list-style-type: none;
  padding: 0;
}
#left-aside ul li {
  padding: 9px;
}
#left-aside ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
#left-aside ul li a:hover {
  color: rgb(255, 150, 81);
  text-decoration: underline;
  font-weight: bold;
}

#left-aside.active {
  display: flex;
}

form {
  margin: 0 auto;
  padding: 5px;
  width: 260px;
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(47, 85, 151), rgb(143, 170, 220));
  border-radius: 0 16px 0 16px;
}
form p {
  color: white;
  font-weight: bold;
  margin-left: 16px;
}
form fieldset {
  margin-top: 5px;
  border: none;
}
form fieldset label {
  color: white;
  margin: 16px 10px 0 16px;
}
form fieldset input {
  width: 96%;
  margin-top: 8px;
  border-radius: 0 5px 0 5px;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
}
form fieldset textarea {
  width: 96%;
  height: 300px;
  margin-top: 8px;
  border-radius: 0 5px 0 5px;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
  border: solid 1px black;
}
form fieldset.textarea {
  height: 200px;
}
form fieldset.textarea textarea {
  height: 80%;
}

.btn, input[type*=submit] {
  width: 164px;
  margin: 0 calc(50% - 82px);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
  background: linear-gradient(to bottom, rgb(143, 170, 220), white, rgb(143, 170, 220));
  border-radius: 0 5px 0 5px;
  border: solid 1px black;
  font-weight: bold;
  color: rgb(47, 85, 151);
}

.btn:hover, input[type*=submit]:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(143, 170, 220), white, rgb(47, 85, 151));
}

.btn:active, input[type*=submit]:active {
  color: white;
  box-shadow: 6px 6px 6px 0px rgb(143, 170, 220);
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(47, 85, 151), white);
}

.edit-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: blue;
  color: white;
}

.remove-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: red;
  color: white;
}

.edit-btn:hover {
  background-color: rgb(56, 56, 107);
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(131, 67, 67);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/backgrounds/views-back.svg");
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}
html body main {
  width: 90%;
  margin: 0 auto;
}
html body main #main-header {
  height: 33vw;
  display: flex;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
html body main #main-header #tagline-container {
  margin-top: 10%;
  height: 20%;
  padding: 0.5rem;
  border-radius: 0 20px 0 20px;
}
html body main #main-header #tagline-container #tagline {
  margin: 0;
  font-size: 3.5vw;
}

footer {
  width: 100%;
  height: 136px;
  margin-top: 2rem;
  display: block;
  background: linear-gradient(to bottom, rgb(143, 170, 220) 10%, rgb(47, 85, 151));
  display: flex;
}
footer nav {
  width: 100%;
  height: 100%;
}
footer nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer nav ul li {
  margin-left: 1vw;
}
footer nav ul li a {
  text-decoration: none;
  color: white;
}

.success {
  color: green;
  font-size: 1rem;
}

.error {
  outline: solid 2px red;
}

[id*=error] {
  color: red;
  font-size: 1rem;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
html h1, html h2, html h3 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(47, 85, 151);
}
html #tagline {
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 200;
}
html h1 {
  margin-left: 2rem;
  text-decoration: underline;
  font-size: 2.25rem;
}
html h2 {
  font-size: 1.5rem;
}
html h3 {
  margin: 0.5rem auto;
  font-size: 1.35rem;
}
html h4 {
  font-size: 1.2rem;
}

.homepage-container #main-header {
  background-image: url("../../images/backgrounds/homepage-background.jpg");
}
.homepage-container #main-header #tagline-container {
  background-color: rgba(47, 85, 151, 0.9);
}
.homepage-container #main-header #tagline-container #tagline {
  color: white;
}
.shop-container #main-header {
  background-image: url("../../images/backgrounds/shop-background.jpg");
}
.shop-container #main-header #tagline-container {
  background-color: rgba(47, 85, 151, 0.9);
}
.shop-container #main-header #tagline-container #tagline {
  color: white;
}
.shop-container #templates-section .cards {
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 0 20px 0 20px;
  border: solid rgb(47, 85, 151);
  width: 75%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.shop-container #templates-section .cards p {
  text-align: center;
}

.account-container #main-header {
  background-image: url("../../images/backgrounds/account-background.jpg");
}
.account-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
.account-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}

.dashboard-container #main-header {
  background-image: url("../../images/backgrounds/dashboard-background.jpg");
}
.dashboard-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
.dashboard-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
.dashboard-container #search-section {
  display: flex;
}
.dashboard-container #search-section fieldset:first-child {
  margin: 0 auto;
  border-radius: 0 5px 0 5px;
  border-color: rgb(47, 85, 151);
  width: 30%;
}
.dashboard-container #search-section fieldset:last-child {
  margin: 0 auto;
  border-radius: 0 5px 0 5px;
  border-color: rgb(47, 85, 151);
  width: 70%;
}
.dashboard-container #control-section table {
  margin: 0 auto;
  border-radius: 0 16px 0 16px;
  border: solid 2px rgb(47, 85, 151);
  padding: 1rem;
}
.dashboard-container #control-section table td {
  padding-left: 0.5rem;
  border-bottom: solid 1px black;
}
.dashboard-container #control-section table tr, .dashboard-container #control-section table td, .dashboard-container #control-section table th {
  height: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-container #control-section table td, .dashboard-container #control-section table th {
  display: none;
}
.dashboard-container #control-section table td:first-child, .dashboard-container #control-section table th:first-child, .dashboard-container #control-section table td:nth-child(2), .dashboard-container #control-section table th:nth-child(2), .dashboard-container #control-section table td:nth-child(3), .dashboard-container #control-section table th:nth-child(3) {
  display: table-cell;
}
.dashboard-container #control-section table .col-id {
  min-width: 0;
  max-width: 2.5rem;
}
.dashboard-container #control-section table .col-other {
  min-width: 0;
  max-width: 3rem;
}

.contact-container #main-header {
  background-image: url("../../images/backgrounds/contact-background.jpg");
}
.contact-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
.contact-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
.contact-container #left-aside-access {
  display: none;
}

.quote-request-container #main-header {
  background-image: url("../../images/backgrounds/quote-request-background.jpg");
}
.quote-request-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
.quote-request-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
.quote-request-container #left-aside-access {
  display: none;
}/*# sourceMappingURL=style.css.map */