@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#top-header {
  min-height: 50px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, rgb(47, 85, 151), rgb(47, 85, 151), rgb(143, 170, 220));
}
#top-header .logo {
  width: 80%;
  max-width: 300px;
  display: flex;
  align-items: center;
}
#top-header .logo img {
  width: 100%;
  height: auto;
}
#top-header .burger-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-header .navbar {
  position: absolute;
  height: auto;
  right: 0;
  text-align: center;
  z-index: 1;
}
#top-header .navbar #menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(143, 170, 220));
  border-radius: 0 0 20px 20px;
}
#top-header .navbar #menu li {
  padding: 9px;
}
#top-header .navbar #menu li a {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}
#top-header .navbar #menu li a:hover {
  color: rgb(255, 150, 81);
  text-decoration: underline;
  font-weight: bold;
}
#top-header .navbar #menu.active {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) { /* TABLETTE */ }
@media screen and (min-width: 1020px) { /* DESKTOP */
  #top-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #top-header .logo {
    width: 28%;
  }
  #top-header .burger-container {
    display: none;
  }
  #top-header .navbar {
    position: relative;
    top: inherit !important;
    right: 0;
  }
  #top-header .navbar #menu {
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
    justify-content: flex-end;
  }
  #top-header .navbar #menu li {
    padding: 9px;
  }
  #top-header .navbar #menu li a {
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
  }
  #top-header .navbar #menu li a:hover {
    color: rgb(255, 150, 81);
    text-decoration: underline;
    font-weight: bold;
  }
  #top-header .navbar #menu li {
    margin: auto 1vw;
  }
}
#left-aside-access {
  width: 18px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgb(47, 85, 151) 5%, rgb(143, 170, 220));
  border-radius: 0 5px 5px 0;
  z-index: 1;
}

#left-aside-access:hover {
  cursor: pointer;
}

#left-aside-access.hidden {
  display: none;
}

#left-aside {
  display: none;
  width: auto;
  height: auto;
  position: fixed;
  left: 0;
  top: 20vh;
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(143, 170, 220));
  border-radius: 0 0 5px 0;
}
#left-aside ul {
  list-style-type: none;
  padding: 0;
}
#left-aside ul li {
  padding: 9px;
}
#left-aside ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
#left-aside ul li a:hover {
  color: rgb(255, 150, 81);
  text-decoration: underline;
  font-weight: bold;
}

#left-aside.active {
  display: flex;
}

form {
  margin: 0 auto;
  padding: 0.5rem;
  width: 94%;
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(47, 85, 151), rgb(143, 170, 220));
  border-radius: 0 16px 0 16px;
}
form h2 {
  font-size: 1.75rem !important;
  color: white !important;
  text-align: center;
}
form p {
  color: white;
  font-weight: bold;
  margin-left: 16px;
}
form div.fieldset-separator {
  margin: 1rem;
  margin-left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
form fieldset {
  width: calc(100% - 0.75rem);
  margin-top: 0.25rem;
  padding: 0.25rem;
  border: none;
  display: flex;
  flex-wrap: wrap;
}
form fieldset legend {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
}
form fieldset label {
  width: 75%;
  color: white;
  margin: 8px 10px 0 16px;
}
form fieldset input {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0 5px 0 5px;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
}
form fieldset input[type=checkbox] {
  width: auto;
}
form fieldset select {
  width: 100%;
  height: 1rem;
  margin: 0.25rem auto 0.15rem 0.25rem;
}
form fieldset textarea {
  width: 100%;
  height: 300px;
  margin-top: 0.5rem;
  border-radius: 0 5px 0 5px;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
  border: solid 1px black;
}
form fieldset span.input-description {
  width: calc(100% - 1rem);
  font-size: 0.75rem;
  color: white;
}
form fieldset span.input-description:last-child {
  margin-bottom: 2rem;
}
form fieldset div.input-separator {
  margin: 1rem;
  width: calc(100% - 1rem);
  height: 1px;
  background-color: cyan;
}
form fieldset.checkbox-field {
  display: flex;
  justify-content: space-between;
}
form fieldset.checkbox-field label {
  width: 75%;
  margin-right: 0;
  margin-left: 0.25rem;
  font-size: 1rem;
}
form fieldset.checkbox-field input {
  width: auto;
  height: auto;
  margin: 0.5rem 1rem 0.5rem auto;
}
form fieldset.textarea {
  height: 16rem;
}
form fieldset.textarea textarea {
  height: 80%;
}

@media screen and (min-width: 768px) {
  /* TABLETTE */
  html form {
    width: 60%;
  }
}
@media screen and (min-width: 1020px) {
  /* DESKTOP */
  html form {
    width: 44%;
  }
}
.template-card {
  height: auto;
  width: 68%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: solid 2px rgb(143, 170, 220);
  border-radius: 0 16px 0 16px;
  text-align: center;
}
.template-card header {
  padding: 0;
  border-radius: 0 16px 0 16px;
  background: linear-gradient(to left, rgb(47, 85, 151), rgb(47, 85, 151), rgb(143, 170, 220));
}
.template-card header h3 {
  color: white;
}
.template-card img {
  width: 100%;
}
.template-card img.center-picture:hover {
  animation: imageZoomCenter 0.75s forwards;
}
.template-card img.left-picture:hover {
  animation: imageZoomLeft 0.75s forwards;
}
.template-card img.right-picture:hover {
  animation: imageZoomRight 0.75s forwards;
}
@keyframes imageZoomCenter {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.5);
  }
}
@keyframes imageZoomLeft {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(2.5) translateX(20%);
  }
}
@keyframes imageZoomRight {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(2.5) translateX(-20%);
  }
}
.template-card footer {
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
}

.review-card {
  height: auto;
  width: 68%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: solid 2px rgb(143, 170, 220);
  border-radius: 0 16px 0 16px;
  text-align: center;
}
.review-card header {
  padding: 0;
  border-radius: 0 16px 0 16px;
  background: linear-gradient(to left, rgb(47, 85, 151), rgb(47, 85, 151), rgb(143, 170, 220));
}
.review-card header h3 {
  color: white;
}
.review-card img {
  width: 100%;
}
.review-card footer {
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
}

.btn {
  width: 164px;
  margin: 0 calc(50% - 82px);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
  background: linear-gradient(to bottom, rgb(143, 170, 220), white, rgb(143, 170, 220));
  border-radius: 0 5px 0 5px;
  border: solid 1px black;
  font-weight: bold;
  color: rgb(47, 85, 151);
}

input[type*=submit] {
  width: 164px;
  margin: 0 calc(50% - 82px);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
  background: linear-gradient(to bottom, rgb(143, 170, 220), white, rgb(143, 170, 220));
  border-radius: 0 5px 0 5px;
  border: solid 1px black;
  font-weight: bold;
  color: rgb(47, 85, 151);
}

.btn:hover,
input[type*=submit]:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(143, 170, 220), white, rgb(47, 85, 151));
}

.btn:active,
input[type*=submit]:active {
  color: white;
  box-shadow: 6px 6px 6px 0px rgb(143, 170, 220);
  background: linear-gradient(to bottom, rgb(47, 85, 151), rgb(47, 85, 151), white);
}

#float-btn {
  width: 20%;
  position: fixed;
  right: 0;
  top: 60vh;
  box-shadow: 3px 3px 3px 0px rgb(143, 170, 220);
  background: linear-gradient(to bottom, rgb(143, 170, 220), white, rgb(143, 170, 220));
  border-radius: 0 5px 0 5px;
  border: solid 1px black;
  font-weight: bold;
  color: rgb(47, 85, 151);
}
#float-btn a {
  color: rgb(47, 85, 151);
}

#float-btn:hover,
a {
  cursor: pointer;
  text-decoration: underline;
}

.add-btn {
  margin-left: 0.5rem;
}

.view-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: green;
  color: white;
}

.edit-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: blue;
  color: white;
}

.remove-btn {
  height: 1.25rem;
  width: 3rem;
  margin-left: 0.75rem;
  background-color: red;
  color: white;
}

.edit-btn:hover {
  background-color: rgb(56, 56, 107);
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(131, 67, 67);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  /* TABLETTE */
  #float-btn {
    width: 10%;
  }
}
@media screen and (min-width: 1020px) {
  /* DESKTOP */
  #float-btn {
    width: 6%;
  }
}
html {
  scroll-behavior: smooth;
}
html .hidden {
  display: none;
}
html textarea {
  resize: none;
}
html body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/backgrounds/views-back.svg");
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}
html body main {
  width: 96%;
  margin: 0 auto;
}
html body main .text-center {
  text-align: center;
}
html body main #main-header {
  height: 126px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
html body main #main-header #tagline-container {
  margin: auto;
  padding: 0.25rem;
  width: 92%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 0 20px;
}
html body main #main-header #tagline-container #tagline {
  margin: 0 2rem;
  font-size: 3.5vw;
}

@media screen and (min-width: 768px) {
  html body main #main-header {
    height: 250px;
  }
  html body main #main-header #tagline-container {
    width: 75%;
    height: 30%;
  }
  html body main #main-header #tagline-container #tagline {
    font-size: 2.75vw;
  }
}
@media screen and (min-width: 1020px) { /* DESKTOP */
  html body main #main-header {
    height: 360px;
  }
  html body main #main-header #tagline-container {
    width: 75%;
    height: 30%;
  }
  html body main #main-header #tagline-container #tagline {
    font-size: 2.25vw;
  }
}
#top-footer {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  background: linear-gradient(to bottom, rgb(143, 170, 220) 10%, rgb(47, 85, 151));
  display: flex;
  justify-content: space-between;
}
#top-footer nav {
  width: 45%;
  height: 100%;
}
#top-footer nav ul {
  height: 75%;
  padding-left: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#top-footer nav ul a {
  text-decoration: none;
  color: white;
  color: white;
}
#top-footer nav ul a i {
  padding: 0.2rem;
  border-radius: 20px;
  background-color: white;
}
#top-footer nav ul a:hover {
  text-decoration: underline;
  color: rgb(197, 90, 17);
}
#top-footer nav ul li {
  margin-top: 0.15rem;
  margin-left: 1vw;
}

.success {
  padding: 0.5rem;
  font-size: 1rem;
  color: green;
  background-color: white;
  border: solid 1px green;
}

.error {
  outline: solid 2px red;
}

[id*=error] {
  padding: 0.6rem;
  position: absolute;
  border-radius: 0 16px 0 16px;
  color: red;
  font-size: 0.75rem;
}

[id*=error].content-write {
  background: linear-gradient(to bottom, white, white, rgb(143, 170, 220));
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
html h1, html h2, html h3 {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(47, 85, 151);
}
html #tagline {
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 200;
}
html h1 {
  text-align: center;
  font-size: 1.5rem;
}
html h1::after {
  content: url("../../images/decorations/take-shape.svg");
  display: inline-block;
  opacity: 0.5;
  width: 3rem;
  height: auto;
}
html h2 {
  font-size: 1.25rem;
  margin-left: 20px;
}
html h3 {
  margin: 0.5rem auto;
  font-size: 1.3rem;
}
html h4 {
  font-size: 1.15rem;
}
html #tagline {
  font-weight: bold;
  letter-spacing: 3px;
}
html .card-title {
  font-size: 1rem;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
    background-color: #ccc;
  }
  html h1 {
    font-size: 2rem;
  }
  html h2 {
    font-size: 1.4rem;
  }
  html h1::after {
    width: 4.25rem;
  }
}
@media screen and (min-width: 1020px) { /* DESKTOP */
  html {
    font-size: 24px;
    background-color: #ccc;
  }
  html h1::after {
    width: 5rem;
  }
}
#homepage-container #main-header {
  background-image: url("../../images/backgrounds/homepage-background.jpg");
}
#homepage-container #main-header #tagline-container {
  background-color: rgba(47, 85, 151, 0.9);
}
#homepage-container #main-header #tagline-container #tagline {
  color: white;
}
#homepage-container #templates-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#homepage-container #templates-section .template-card {
  width: 280px;
}
#homepage-container #reviews-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#homepage-container #reviews-section .review-card {
  width: 280px;
  height: 200px;
  overflow: scroll;
}

#login-container #main-header {
  background-image: url("../../images/backgrounds/login-background.jpg");
}
#login-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
#login-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
#login-container #left-aside-access {
  display: none;
}

#register-container #main-header {
  background-image: url("../../images/backgrounds/register-background.jpg");
  background-size: contain;
}
#register-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
#register-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
#register-container #left-aside-access {
  display: none;
}

#shop-container #main-header {
  background-image: url("../../images/backgrounds/shop-background.jpg");
}
#shop-container #main-header #tagline-container {
  background-color: rgba(47, 85, 151, 0.9);
}
#shop-container #main-header #tagline-container #tagline {
  color: white;
}
#shop-container #templates-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#shop-container #templates-section p:first-child {
  width: 100%;
}
#shop-container #templates-section .template-card {
  width: 280px;
}

#account-container #main-header {
  background-image: url("../../images/backgrounds/account-background.jpg");
}
#account-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
#account-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}

#dashboard-container #main-header {
  background-image: url("../../images/backgrounds/dashboard-background.jpg");
}
#dashboard-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
#dashboard-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
#dashboard-container #search-section {
  display: flex;
}
#dashboard-container #search-section fieldset:first-child {
  margin: 0 auto;
  border-radius: 0 5px 0 5px;
  border-color: rgb(47, 85, 151);
  width: 100%;
}
#dashboard-container #search-section fieldset:first-child input {
  width: 100%;
}
#dashboard-container #search-section fieldset:last-child {
  margin: 0 auto;
  border-radius: 0 5px 0 5px;
  border-color: rgb(47, 85, 151);
  width: 100%;
}
#dashboard-container #search-section fieldset:last-child input {
  width: 100%;
}
#dashboard-container #control-section {
  overflow-x: auto;
  width: 100%;
}
#dashboard-container #control-section table {
  margin: 0 auto;
  border-radius: 0 16px 0 16px;
  border: solid 2px rgb(47, 85, 151);
  padding: 1rem;
}
#dashboard-container #control-section table tr:nth-child(even) {
  background-color: rgb(143, 170, 220);
}
#dashboard-container #control-section table td {
  padding-left: 0.5rem;
  border-bottom: solid 1px black;
}
#dashboard-container #control-section table tr,
#dashboard-container #control-section table td,
#dashboard-container #control-section table th {
  height: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
}
#dashboard-container #control-section table .col-id {
  min-width: 0;
}

#contact-container #main-header {
  background-image: url("../../images/backgrounds/contact-background.jpg");
}
#contact-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
#contact-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
#contact-container #left-aside-access {
  display: none;
}

#request-container p {
  text-align: center;
}
#request-container #main-header {
  background-image: url("../../images/backgrounds/request-background.jpg");
}
#request-container #main-header #tagline-container {
  background-color: rgba(255, 255, 255, 0.9);
}
#request-container #main-header #tagline-container #tagline {
  color: rgb(47, 85, 151);
}
#request-container #left-aside-access {
  display: none;
}

#gnu-container h2 {
  text-decoration: underline;
}
#gnu-container h3 {
  margin-left: 1.5rem !important;
}
#gnu-container p, #gnu-container ul {
  margin-left: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
